<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.deutschebahn.bahnhoflive">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <!-- openGL 2 for maps -->
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:name=".BaseApplication"
        android:allowBackup="true"
        android:icon="@drawable/app_icon"
        android:networkSecurityConfig="@xml/network_security_config"
        android:label="@string/app_name"
        android:theme="@style/App.Theme">

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity
            android:name=".ui.hub.HubActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.map.MapActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            </intent-filter>
        </activity>

        <!-- [START firebase_service] -->
        <service android:name=".BahnFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <!-- [END firebase_service] -->

        <receiver android:name=".backend.wagenstand.receiver.WagenstandAlarmReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".ui.station.StationActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".ui.hub.HubActivity"
            android:screenOrientation="portrait"
            android:theme="@style/App.Theme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.deutschebahn.bahnhoflive.ui.hub.HubActivity" />
        </activity>
        <activity
            android:name=".ui.search.StationSearchActivity"
            android:noHistory="true"
            android:windowSoftInputMode="adjustPan"
            android:parentActivityName=".ui.hub.HubActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.deutschebahn.bahnhoflive.ui.hub.HubActivity" />
        </activity>
        <activity
            android:name=".ui.WebViewActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.timetable.localtransport.DeparturesActivity" />
    </application>

</manifest>