<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.deutschebahn.bahnhoflive"
xmlns:tools="http://schemas.android.com/tools"
    >
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" /> <!-- openGL 2 for maps -->
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <uses-sdk tools:overrideLibrary="androidx.core.splashscreen"/>

    <queries>
        <!-- Make WhatsApp installation detectable -->
        <package android:name="com.whatsapp" />
    </queries>

    <application
        android:allowBackup="true"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:theme="@style/App.Theme">
        <activity android:name=".ui.consent.ConsentActivity" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity
            android:exported="true"
            android:name=".ui.hub.HubActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.App.Starting"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.map.MapActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            </intent-filter>
        </activity>

        <receiver
            android:name=".backend.wagenstand.receiver.WagenstandAlarmReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".ui.station.StationActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".ui.hub.HubActivity"
            android:screenOrientation="portrait"
            android:theme="@style/App.Theme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.deutschebahn.bahnhoflive.ui.hub.HubActivity" />
        </activity>
        <activity
            android:name=".ui.search.StationSearchActivity"
            android:noHistory="true"
            android:parentActivityName=".ui.hub.HubActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateVisible">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.deutschebahn.bahnhoflive.ui.hub.HubActivity" />
        </activity>
        <activity
            android:name=".ui.WebViewActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.timetable.localtransport.DeparturesActivity" />

        <meta-data
            android:name="io.sentry.auto-init"
            android:value="false" />

        <service
            android:name=".push.FacilityFirebaseService"
            android:exported="false"
            >
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>


    </application>

</manifest>